@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Varela+Round&display=swap');

:root {
    --bg-dark: oklch(0.1 0 139);
    --bg-darkish: oklch(0.125 0 139);
    --bg: oklch(0.15 0 139);
    --bg-lightish: oklch(0.175 0 139);
    --bg-light: oklch(0.2 0 139);
    --text: oklch(0.96 0 139);
    --text-muted: oklch(0.76 0 139);
    --highlight: oklch(0.5 0 139);
    --border: oklch(0.4 0 139);
    --border-muted: oklch(0.3 0 139);

    --primary: oklch(0.76 0.2 145);
    --secondary: oklch(0.60 0.2 160);

    --display-font: 'Varela Round', sans-serif;
    --text-font: 'Nunito', sans-serif;

    --gap-size: 7px;
}

* {
    color: var(--text);
    box-sizing: border-box;
}

body {
    background-color: var(--bg-dark);
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    max-height: 100vh;
}

.header a {
    color: var(--primary);
    text-shadow: var(--primary) 0 0 0.5em;
}

.header {
    flex: 0;
    background: linear-gradient(var(--bg), var(--bg-lightish));
    display: flex;
    padding: 0.5em 2rem;
    justify-content: space-between;
    font-family: var(--display-font);
    border-bottom: solid 1px var(--border);
}

.content {
    font-family: var(--text-font);
    font-size: 0.875em;
    padding: var(--gap-size);
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    flex: 1;
    gap: var(--gap-size);
}

.left, .center, .right {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    gap: var(--gap-size);
}

.center {
    flex: 2;
}

.side, .left, .right{
    flex: 1;
    min-width: 384px;
}

.side {
    overflow-y: hidden;
}

.hidden {
    display: none;
}

.window {
    flex: 0;
    background-color: var(--bg-light);
    border: solid 1px var(--border-muted);
    border-radius: 5px;
    flex-direction: column;
    resize: none;
}

.window-header {
    display: flex;
    flex: 0;
    background: linear-gradient(var(--bg), var(--bg-lightish));
    font-family: var(--display-font);
    font-size: small;
    padding: 3px 10px;
    border-bottom: solid 1px var(--border-muted);
    justify-content: space-between;
}

.window-content {
    display: flex;
    flex-direction: column;
    padding: var(--gap-size);
    flex: 1;
    gap: var(--gap-size);
    resize: none;
    min-height: 0; /* Allows flex items to shrink below content size */
    overflow: hidden;
}

.pixiView {
    display: flex;
    flex: 1;
    max-height: 360px;
}

.input-panel {
    display: flex;
    justify-content: space-between;
}

.checkerboard {
    background: repeating-conic-gradient(var(--border) 0% 25%, var(--highlight) 0% 50%) 50% / 10rem 10rem;
}

.texture-atlas {
    padding: var(--gap-size);
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 100%;
    overflow: hidden;
}

.texture-atlas img {
    align-self: center;
    padding: var(--gap-size);
    border-radius: 5px;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    box-shadow: 0 0 1rem 0.25rem var(--bg-dark);
    width: auto;
    height: auto;
}

.texture-viewer {
    flex: 1;
    margin-top: auto;
    resize: none;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.xmlEditor {
    display: flex;
}

.xmlEditor textarea {
    background-color: var(--bg-darkish);
    border: solid 1px var(--border-muted);
    flex: 1;
    resize: none;
    border-radius: 5px;
}

.xmlEditor textarea:focus {
    outline: none;
    background-color: var(--bg-darkish);
    border: solid 2px var(--primary);
    flex: 1;
    resize: none;
    border-radius: 5px;
}

.double-input-panel, .double-input-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: var(--gap-size);
}

.double-input-section label,  .double-input-section input{
    min-width: 3em;
    flex: 1
}

.maximize, select, label, input {
    flex: 1
}

button {
    min-width: 15em;
}

button, input[type="text"], input[type="number"], input[type="color"], input[type="file"], select {
    font-family: var(--display-font);
    background-color: var(--border-muted);
    border: solid 1px var(--border);
    border-radius: 5px;
}

button:hover, input:hover, select:hover {
    font-family: var(--display-font);
    background-color: var(--border-muted);
    border: solid 1px var(--border);
    border-radius: 5px;
    box-shadow: 0 0 10px var(--secondary);
    color: var(--secondary);
}

button:active, input:active, option:hover {
    font-family: var(--display-font);
    background-color: var(--secondary);
    border: solid 1px var(--primary);
    border-radius: 5px;
    box-shadow: 0 0 10px var(--primary);    
    color: var(--bg-dark);
}

input[type=number]::-webkit-inner-spin-button {
    opacity: 1;
}

b {
    text-shadow: var(--text) 0 0 5px;
}